footer {
    /* box-shadow: 0px 0px 250px 350px black; */
    backdrop-filter: blur(20px);
    /* position: relative; */
    /* z-index: 0; */
}

.footer-contact {
    color: #6c757d;
}

.footer-contact:hover {
    color: white;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#imgLarge {
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
    /* padding-top: 2%; */
    backdrop-filter: blur(5px);

    img {
        width: 70%;
        box-shadow: 2px 2px 1px 1px black;
        border-radius: 10px;
        position: relative;
        z-index: 202;
    }

    .largeImgBtnClose {
        position: absolute;
        top: 1%;
        right: 1%;
        z-index: 201;
        cursor: pointer;
    }
}