#header {
    backdrop-filter: blur(20px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    transition: transform 1s ease, opacity 1s ease; /* เพิ่มการเปลี่ยนแปลงการเลื่อนและความโปร่งใส */
    z-index: 100;
    transform: translateY(-100%); /* ซ่อน header ด้วยการเลื่อนขึ้น */
    opacity: 0; /* ซ่อนด้วยความโปร่งใส */
    box-shadow: 0px 0px 20px 5px black;


    img {
        filter: drop-shadow(0px 0px 5px yellow)
    }
}

header.visible {
    transform: translateY(0); /* เลื่อน header ลงมาแสดง */
    opacity: 1; /* ทำให้แสดงด้วยการปรับความโปร่งใส */
}
